.section-about{
    display: flex;
    align-items: center;
    margin: 10% 5% 10% 10%;
}
.about-me{
  width: 70vw;
  padding-left: 5%;
}

.about-me h3{
    color: #64ffda;
}
.about-me h1{
    color: #ccd6f6;
    font-size: 8vh;
    margin: 0%;
}

.about-me h2{
    color: #a8b2d1;
    font-size: 8vh;
    margin: 0%;
}

.about-me p{
    color: #8892b0;
    font-size: 3vh;
}
.profile-photo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;  
    
}

.profile-photo-img{
    width: 45vh;
    height:  45vh;
    border-radius: 50%;
    position: relative; /* Asegura que la posición sea relativa para controlar z-index */
    z-index: 2;  
    padding: 1rem;
}

.center {
    position: relative;
    opacity: 0.8;
}


.ball {
  position: absolute; 
  z-index: 1;  
  width: 50vh;
  height: 50vh;
  background: #64ffda;
  opacity: 0.8;
  border-radius: 50%;
          filter: blur(10px);
}

.blubb-1 {
  position: absolute;
  top: 27%;
  left: 30%;
  width: 35vh;
  height: 35vh;
          transform: rotate(4deg);
}
.blubb-1:after {
  position: absolute;
  display: block;
  content: '';
  width: 35vh;
  height: 35vh;
  background: #64ffda;
  border-radius: 50%;
          transform-origin: 87px 87px;
          animation: rotate 6.7s ease-in-out 0.5s infinite;
          filter: blur(5px);
}

.blubb-2 {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 35vh;
  height: 35vh;
          transform: rotate(4deg);
}
.blubb-2:after {
  position: absolute;
  display: block;
  content: '';
  width: 35vh;
  height: 35vh;
  background: #64ffda;
  border-radius: 50%;
          transform-origin: 84px 84px;
          animation: rotate 6.9s ease-in-out 0.7s infinite;
          filter: blur(5px);
}

.blubb-3 {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 35vh;
          transform: rotate(3deg);
}
.blubb-3:after {
  position: absolute;
  display: block;
  content: '';
  width: 35vh;
  height: 35vh;
  background: #64ffda;
  border-radius: 50%;
          transform-origin: 81px 81px;
          animation: rotate 7.1s ease-in-out 0.9s infinite;
          filter: blur(5px);
}

.blubb-4 {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 35vh;
  height: 35vh;
          transform: rotate(2deg);
}
.blubb-4:after {
  position: absolute;
  display: block;
  content: '';
  width: 35vh;
  height: 35vh;
  background: #64ffda;
  border-radius: 50%;
          transform-origin: 78px 78px;
          animation: rotate 7.3s ease-in-out 1.1s infinite;
          filter: blur(5px);
}

.blubb-5 {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 35vh;
  height: 35vh;
          transform: rotate(3deg);
}
.blubb-5:after {
  position: absolute;
  display: block;
  content: '';
  width: 35vh;
  height: 35vh;
  background: #64ffda;
  border-radius: 50%;
          transform-origin: 75px 75px;
          animation: rotate 7.5s ease-in-out 1.3s infinite;
          filter: blur(5px);
}

.blubb-6 {
  position: absolute;
  top: 30%;
  left: 25%;
  width: 35vh;
  height: 35vh;
          transform: rotate(4deg);
}
.blubb-6:after {
  position: absolute;
  display: block;
  content: '';
  width: 35vh;
  height: 35vh;
  background: #64ffda;
  border-radius: 50%;
          transform-origin: 72px 72px;
          animation: rotate 7.7s ease-in-out 1.5s infinite;
          filter: blur(5px);
}

.blubb-7 {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 35vh;
  height: 35vh;
          transform: rotate(2deg);
}
.blubb-7:after {
  position: absolute;
  display: block;
  content: '';
  width: 35vh;
  height: 35vh;
  background: #64ffda;
  border-radius: 50%;
          transform-origin: 69px 69px;
          animation: rotate 7.9s ease-in-out 1.7s infinite;
          filter: blur(5px);
}

.blubb-8 {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 35vh;
  height: 35vh;
          transform: rotate(4deg);
}
.blubb-8:after {
  position: absolute;
  display: block;
  content: '';
  width: 35vh;
  height: 35vh;
  background: #64ffda;
  border-radius: 50%;
          transform-origin: 66px 66px;
          animation: rotate 8.1s ease-in-out 1.9s infinite;
          filter: blur(5px);
}

@keyframes rotate {
  from {
            transform: rotate(0deg) translate3d(0, 0, 0);
  }
  to {
            transform: rotate(360deg) translate3d(0, 0, 0);
  }
}

/* Skills */
.section-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% ;
}

.section-skills h1{
    color: #64ffda;
    font-size: 8vh;
    margin: 0%;
}
.section-skills p{
    color: #a8b2d1;
    font-size: 3vh;
    text-align: center;
    width: 70%;
}


.lists-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    font-size: 3vh;
    
}
.ul-skills h2{
    transition: transform 0.5s ease;
}
.ul-skills:hover h2{
    color: #64ffda;
    opacity: 1;
    transform: scale(1.1);
} 
.lists-skills h2{
    text-align: center;
    color: #64ffda;
    opacity: 0.8;
}

.lists-skills li{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    color: #ccd6f6;
    padding: 1rem;
    cursor: pointer;
    transition: opacity 0.5s ease;
}
.icon-list{
    color: #64ffda;
    opacity: 0.6;
    padding-right: 1.2rem;
    transition: opacity 0.5s ease;
}

.li-skills:hover {
    color: #64ffda;
    opacity: 1;
}
.li-skills:hover .icon-list {
    opacity: 1;
    /* Otras propiedades para .icon-list cuando se hace hover en .li-skills */
}

@keyframes show {
    from {
        opacity: 0;
        scale: 15%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

.li-skills, .section-skills h1, .section-skills p  {
    view-timeline-name: --li;
    view-timeline-axis: block;

    animation-timeline: --li;
    animation-name: show;

    animation-range: entry 80% cover 25%;
    animation-fill-mode: both;
}



/* Proyectos */
.section-work{
    display: flex;
    flex-direction: column;
    margin: 10%;
}

.section-work h1{
    color: #64ffda;
    font-size: 8vh;
    margin: 0%;
    text-align: center;
}

.p-title{
    color: #a8b2d1;
    font-size: 3vh;
    text-align: center;
}
.section-work ul{
    padding: 0;
}
.section-work li{
    display: flex;
    justify-content: end;
    width: 100%; 
    margin-top: 8%;
    
}


.description-projects{
    color: #a8b2d1;
    text-align: start;
    font-size: 3vh;
    position: absolute;
    left: 0;
    margin-left: 25vh;  
}

.description-projects h2{
    color: #64ffda;
}

.paragraph-project{
    background-color: #112240;
    position: absolute; /* Añade posición absoluta para que se superponga */
    left: 0;
    margin-left: 0;
    padding: 1rem;
    width: 40vw;
    text-align: start;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

@keyframes showp {
    from {
        opacity: 0;
        transform: translateX(-20%); 
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.paragraph-project {
    view-timeline-name: --p;
    view-timeline-axis: block;

    animation-timeline: --p;
    animation-name: showp;

    animation-range: entry 5% cover 60%;
    animation-fill-mode: both;
}

.image-project img{
    width: 90vh;
    height:  55vh;
    border-radius: 10px;
    left: 0;
    margin-left: 35vh;
}

@keyframes show1 {
    from {
        opacity: 0;
        transform: translateX(20%); 
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.image-project img {
    view-timeline-name: --img;
    view-timeline-axis: block;

    animation-timeline: --img;
    animation-name: show1;

    animation-range: entry 5% cover 70%;
    animation-fill-mode: both;
}

/* contact */

.section-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 17% 10%;
}

.section-contact h1{
    color: #64ffda;
    font-size: 8vh;
    margin: 0%;
    text-align: center;
}

.section-contact p{
    color: #a8b2d1;
    font-size: 3vh;
    text-align: center;
    width: 70%;
}
.section-contact ul {
    display: flex;
    justify-content: space-between;
   
}
.section-contact li {
    list-style: none;
    margin: 1rem;
    opacity: 0.6;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.section-contact li:hover {
    transform: scale(1.3);
    opacity: 1;
}

.icon-contact{
    color: #64ffda;
    padding-right: 1.2rem;
}


/* nav list left */
.section-contactnav {
    position: relative; /* Fija la barra de navegación en la ventana del navegador */
    bottom: 0; /* La barra se fija en la parte superior de la ventana */
    margin-bottom: 0%;
    left: 0; /* La barra se coloca en el lado izquierdo de la ventana */
    width: 80px; /* Define el ancho deseado para la barra */
    background-color: #0a192f; /* Color de fondo de la barra */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    text-align: center;
  }
  
  .icon-contact-nav {
    color: #64ffda; /* Color de los iconos */
    margin-top: 1rem;
    opacity: 0.6;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.icon-contact-nav:hover {
    transform: scale(1.3);
    opacity: 1;
}

/* @keyframes shownav {
    from {
        opacity: 1;
        transform: translateX(0); 
    }

    to {
        opacity: 0;
        transform: translateX(-20%);
    }
}

.li-contact{
    view-timeline-name: --li;
    view-timeline-axis: block; 

    animation-timeline: --li;
    animation-name: shownav;

    animation-range: entry 100% cover 100%;
    animation-fill-mode: backwards;
} */
  

/* middle project */

/* 
.description-projects-m{
    color: #a8b2d1;
    text-align: start;
    font-size: 3vh;
    position: absolute;
    left: 0;
    margin-left: 25vh;
    
}

.paragraph-project-m{
    background-color: #112240;
    position: absolute; 
    left: 0;
    margin-left: 0;
    padding: 1rem;
    width: 40vw;
    text-align: start;
}


.image-project-m img{
    width: 90vh;
    height:  55vh;
    border-radius: 10px;
    left: 0;
    margin-left: 35vh;
}
 */



/* .profile-contacto{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 90%;
} */

/* .curriculum{
    color: #64ffda;
    text-decoration: none;
    font-size: 15px;
    padding: 1rem;
    border: 2px solid #64ffda;
    border-radius: 5px;
    transition: transform 0.3s;
}
.contact-icon{
    margin-left: 1rem;
    color: #64ffda;
    transition: transform 0.3s;
    
}

.curriculum:hover,
.contact-icon:hover {
    transform: scale(1.05);
} */