.section-about{
    display: flex;
    align-items: center;
    
}
.about-me{
  width: 60vw;
}

.about-me h3{
    color: #64ffda;
}
.about-me h1{
    color: #ccd6f6;
    font-size: 8vh;
    margin: 0%;
}

.about-me h2{
    color: #a8b2d1;
    font-size: 8vh;
    margin: 0%;
}

.about-me p{
    color: #8892b0;
    font-size: 3vh;
}
.profile-photo{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.profile-photo-img{
    width: 45vh;
    height:  45vh;
    border-radius: 50%;
}


/* Skills */
.section-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15% 0 10% 0%;
}

.section-skills h1{
    color: #64ffda;
    font-size: 8vh;
    margin: 0%;
}
.section-skills p{
    color: #a8b2d1;
    font-size: 3vh;
    text-align: center;
    width: 70%;
}


.lists-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    font-size: 3vh;
}
.lists-skills h2{
    text-align: center;
    color: #64ffda;
}
.lists-skills li{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    color: #ccd6f6;
    padding: 1rem;
    cursor: pointer;
}
.icon-list{
    color: #64ffda;
    padding-right: 1.2rem;
}

.lists-skills li:hover{
    color: #64ffda;
}

/* Proyectos */
.section-work{
    display: flex;
    flex-direction: column;
    margin: 15% 0 10% 0;
}

.section-work h1{
    color: #64ffda;
    font-size: 8vh;
    margin: 0%;
    text-align: center;
}

.p-title{
    color: #a8b2d1;
    font-size: 3vh;
    text-align: center;
}
.section-work ul{
    padding: 0;
}
.section-work li{
    display: flex;
    justify-content: end;
    width: 100%; 
    margin-top: 8%;
    
}


.description-projects{
    color: #a8b2d1;
    text-align: start;
    font-size: 3vh;
    position: absolute;
    left: 0;
    margin-left: 25vh;
    
}

.paragraph-project{
    background-color: #112240;
    position: absolute; /* Añade posición absoluta para que se superponga */
    left: 0;
    margin-left: 0;
    padding: 1rem;
    width: 40vw;
    text-align: start;
}


.image-project img{
    width: 90vh;
    height:  55vh;
    border-radius: 10px;
    left: 0;
    margin-left: 35vh;
}


/* middle project */


.description-projects-m{
    color: #a8b2d1;
    text-align: start;
    font-size: 3vh;
    position: absolute;
    left: 0;
    margin-left: 25vh;
    
}

.paragraph-project-m{
    background-color: #112240;
    position: absolute; /* Añade posición absoluta para que se superponga */
    left: 0;
    margin-left: 0;
    padding: 1rem;
    width: 40vw;
    text-align: start;
}


.image-project-m img{
    width: 90vh;
    height:  55vh;
    border-radius: 10px;
    left: 0;
    margin-left: 35vh;
}




/* .profile-contacto{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    width: 90%;
} */

/* .curriculum{
    color: #64ffda;
    text-decoration: none;
    font-size: 15px;
    padding: 1rem;
    border: 2px solid #64ffda;
    border-radius: 5px;
    transition: transform 0.3s;
}
.contact-icon{
    margin-left: 1rem;
    color: #64ffda;
    transition: transform 0.3s;
    
}

.curriculum:hover,
.contact-icon:hover {
    transform: scale(1.05);
} */